body {
  background-color: 	#1F3756;
  background-color: 	hsl(214, 47%, 23%);
  text-align: center;
  color:white;
}

td {
  background-color: #303030;
  width:20px;
  height:20px;
  border-width: 1px;
  border-style: solid;
  border-color:#303030;
}

table{
  margin: 5% auto;
}

.side-content{
  text-align: right;
  margin-top: 10%;
}

.controls{
  margin-top: 5%;
}

.control-text{
  margin-top:3%;
}
